# Problem Statement

New York City is the most densely populated city in the United States of America and has varying dining options. Based on 2019 information, there are approximately 8.6 million people within  the city.  Based on research performed by CBRE, New Yorkers spend on average USD8,082 per year compared to their peers across the United States that spend USD 3,512  per year. Based on this statistics, the competition is fierce within the area. In New York you find there are clusters of food areas that focus on certain type of cuisine such as Italian, Spanish, Korean and Chinese. These districts  provide an opportunity for people to experience different cultures and cuisine.

There is no formal African district where the rich African culture can be explored and showcased to the broader public. The aim of this analysis will be to understand whether there are a number of African restaurants clustered in certain areas and whether there is an opportunity to rebrand the area to an African town to incentivise patrons to visit the area.  As part of this analysis, African restaurants will be visualised in the New York City area.

# Data

For  this analysis the following data will be required:
   - New York City Data
   - Foursquare API Data; and
   - Geospace data

The sources of information are unpacked below in more detail.

###### New York City Data
New York City data that contains a list of the various neighbourhoods, which includes longitude and latitude
Data Source: https://cocl.us/new_york_dataset
Description: This data set contains the required  data to explore various neighbourhoods of New York City.

###### African restuarants in each neighbourhood of New York City
 Data source: Foursquare API
 Description: This API allows the code to get all the venues in each neighbourhood. This will be filtered based on the African restaurant venues.

###### Geospace data
Source: https://data.cityofnewyork.us/City-Gorvenmetn/Burrough-Boundaries/tgmj-j8zm
Description: By using the geo space data we will get the New York Borough boundaries that will assist in visualizing a choropleth map.

###### Approach

###### Collect the new york city data from https://cocl.us/new_york_dataset

Using FourSquare API we will find all venues for each neighborhood.

Filter out all venues that are African Resturants.

This will be visualised and the higher areas will be 

Visualize the Ranking of neighborhoods using folium library(python)

###### Questions that can be asked using the above dataset

Where ware the African restuarants situated in New York?

Which Buroughs has the most number of African Restuarants?

Which areas lack African restaurants?

###### Analysis

We will import the required libraries for python.

    - pandas and numpy for handling data.
    - request module for using FourSquare API.
    - geopy to get co-ordinates of City of New York.
    - folium to visualize the results on a map

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files
from pprint import pprint # data pretty printer

import requests # library to handle requests
from bs4 import BeautifulSoup  # library to handle web scraping

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

!pip install folium # map rendering library

import matplotlib.cm as cm # Matplotlib and associated plotting modules
import matplotlib.colors as colors # Matplotlib and associated plotting modules

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

from collections import Counter # count occurrences 
print ('Libraries imported')

Collecting folium
  Downloading https://files.pythonhosted.org/packages/a4/f0/44e69d50519880287cc41e7c8a6acc58daa9a9acf5f6afc52bcc70f69a6d/folium-0.11.0-py2.py3-none-any.whl (93kB)
     |████████████████████████████████| 102kB 7.0MB/s ta 0:00:011
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/13/fb/9eacc24ba3216510c6b59a4ea1cd53d87f25ba76237d7f4393abeaf4c94e/branca-0.4.1-py3-none-any.whl
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)
Installing collected packages: branca, folium
Successfully installed branca-0.4.1 folium-0.11.0
Libraries imported

Next step will be to extract venue information from Foursquare using the Foursquare API

In [2]:
!pip install wget
import os
url = 'https://cocl.us/new_york_dataset/newyork_data.json'
r = requests.get(url, allow_redirects=True)
if os.path.exists('newyork_data.json'):
    os.remove('newyork_data.json')
print('\nData downloaded!')

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Stored in directory: /home/dsxuser/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

Data downloaded!

In [3]:
import wget
import os

if os.path.exists('newyork_data.json'):
    os.remove('newyork_data.json')

wget.download('https://cocl.us/new_york_dataset/newyork_data.json')

print('\nData downloaded!')

Data downloaded!

In [4]:
# open & load downloaded file, print its type
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)
type(newyork_data)

dict

In [5]:
print ("newyork_data key and value's length are: ") 
for key, value in newyork_data.items(): 
    print (key, len(str(value)))

newyork_data key and value's length are:
type 17
totalFeatures 3
features 124743
crs 70
bbox 74

All the relevant data is in the features key, which is basically a list of the neighborhoods. So, let's define a new variable that includes this data.

In [6]:
neighborhoods_data = newyork_data['features']
pprint(neighborhoods_data[305])

{'geometry': {'coordinates': [-74.08173992211962, 40.61731079252983],
              'type': 'Point'},
 'geometry_name': 'geom',
 'id': 'nyu_2451_34572.306',
 'properties': {'annoangle': 0.0,
                'annoline1': 'Fox',
                'annoline2': 'Hills',
                'annoline3': None,
                'bbox': [-74.08173992211962,
                         40.61731079252983,
                         -74.08173992211962,
                         40.61731079252983],
                'borough': 'Staten Island',
                'name': 'Fox Hills',
                'stacked': 2},
 'type': 'Feature'}

###### Transform data into a pands dataframe

In [7]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)
neighborhoods

Empty DataFrame
Columns: [Borough, Neighborhood, Latitude, Longitude]
Index: []

Then lets loop through the data and fill the dataframe one row at a time

In [8]:
for data in neighborhoods_data:
    borough = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

In [9]:
neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [10]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(neighborhoods['Borough'].unique()),
        neighborhoods.shape[0]
    )
)

The dataframe has 5 boroughs and 306 neighborhoods.

Use geopy library to get the latitude and longitude values of New York City

In [37]:
address = 'New York City, NY'
location = None

# define an instance of the geocoder -> ny_explorer
while location == None:
    try:
        geolocator = Nominatim(user_agent="ny_explorer")
        location = geolocator.geocode(address)
        latitude = location.latitude
        longitude = location.longitude
    except:
        pass
print('The geograpical coordinate of New York City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of New York City are 40.7127281, -74.0060152.

Create a map of New York with neighborhoods superimposed on top.

In [11]:
!pip install folium # map rendering library
map_newyork = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(neighborhoods['Latitude'], neighborhoods['Longitude'], neighborhoods['Borough'], neighborhoods['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_newyork)  
    
map_newyork

Requirement already satisfied: folium in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.11.0)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (0.4.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)

NameError: name 'folium' is not defined

###### Define Foursquare Credentials and Version

Utilizing the Foursquare API to explore the neighborhoods

In [12]:
CLIENT_ID = 'VTEXLDCRMNRHSALNG3N2A1FFLRNK3ON03M0PYJYU4RD1CS1Z' # your Foursquare ID
CLIENT_SECRET = '0UK31K23U0UZ4HGEMKP44VQXB1QJKKXL1LKXWEC5YDP40HOS' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: VTEXLDCRMNRHSALNG3N2A1FFLRNK3ON03M0PYJYU4RD1CS1Z
CLIENT_SECRET:0UK31K23U0UZ4HGEMKP44VQXB1QJKKXL1LKXWEC5YDP40HOS

In [13]:
url = 'https://api.foursquare.com/v2/venues/categories?&client_id={}&client_secret={}&v={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION)
category_results = requests.get(url).json()

Let's see the structure or the keys of the returned request.

In [14]:
for key, value in category_results['response']['categories'][0].items():
    print(key, len(str(value)))

id 24
name 20
pluralName 20
shortName 20
icon 98
categories 15910

In [15]:
category_list = category_results['response']['categories']

In [16]:
len(category_list)

10

In [17]:
for data in category_list:
    print(data['id'], data['name'])

4d4b7104d754a06370d81259 Arts & Entertainment
4d4b7105d754a06372d81259 College & University
4d4b7105d754a06373d81259 Event
4d4b7105d754a06374d81259 Food
4d4b7105d754a06376d81259 Nightlife Spot
4d4b7105d754a06377d81259 Outdoors & Recreation
4d4b7105d754a06375d81259 Professional & Other Places
4e67e38e036454776db1fb3a Residence
4d4b7105d754a06378d81259 Shop & Service
4d4b7105d754a06379d81259 Travel & Transport

In [18]:
# function to flatten a 'parent_id' category, returns all categories if checkParentID = False
def flatten_Hierarchy(category_list, checkParentID, category_dict, parent_id = ''):
    for data in category_list:
        
        if checkParentID == True and data['id'] == parent_id:
            category_dict[data['id']] = data['name']
            flatten_Hierarchy(category_list = data['categories'], checkParentID = False, category_dict = category_dict)
        
        elif checkParentID == False:
            category_dict[data['id']] = data['name']
            if len(data['categories']) != 0:
                flatten_Hierarchy(category_list = data['categories'], checkParentID = False, category_dict = category_dict)
    
    return category_dict

In [19]:
# this function takes the parent ID and returns 'name' and 'id' of all the sub-categories
category_dict = flatten_Hierarchy(category_list, checkParentID=True, category_dict = {}, parent_id = '4d4b7105d754a06374d81259')

Explore the first neighborhood to understand the results of GET Request

Get the neighborhood's name.

In [20]:
neighborhoods.loc[0, 'Neighborhood']

'Wakefield'

Get the neighborhood's latitude and longitude values.

In [21]:
neighborhood_latitude = neighborhoods.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = neighborhoods.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = neighborhoods.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Wakefield are 40.89470517661, -73.84720052054902.

Now, let's get the Food that is in Wakefield within a radius of 500 meters.

In [22]:
LIMIT = 1 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
categoryId = '4d4b7105d754a06374d81259' # category ID for "Food"

# create URL

url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&categoryId={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius,
    categoryId,
    LIMIT)
url # display URL

'https://api.foursquare.com/v2/venues/search?&client_id=VTEXLDCRMNRHSALNG3N2A1FFLRNK3ON03M0PYJYU4RD1CS1Z&client_secret=0UK31K23U0UZ4HGEMKP44VQXB1QJKKXL1LKXWEC5YDP40HOS&v=20180605&ll=40.89470517661,-73.84720052054902&radius=500&categoryId=4d4b7105d754a06374d81259&limit=1'

In [23]:
results = requests.get(url).json()

In [24]:
results['response']['venues']

[{'id': '4eb046abb8f7116f21081aeb',
  'name': 'Baychester Avenue Food Truck',
  'location': {'address': 'Baychester Avenue',
   'crossStreet': '233rd Street',
   'lat': 40.890479268747484,
   'lng': -73.84272476029565,
   'labeledLatLngs': [{'label': 'display',
     'lat': 40.890479268747484,
     'lng': -73.84272476029565}],
   'distance': 602,
   'postalCode': '10466',
   'cc': 'US',
   'city': 'Bronx',
   'state': 'NY',
   'country': 'United States',
   'formattedAddress': ['Baychester Avenue (233rd Street)',
    'Bronx, NY 10466',
    'United States']},
  'categories': [{'id': '4bf58dd8d48988d1cb941735',
    'name': 'Food Truck',
    'pluralName': 'Food Trucks',
    'shortName': 'Food Truck',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/streetfood_',
     'suffix': '.png'},
    'primary': True}],
  'referralId': 'v-1590950017',
  'hasPerk': False}]

The category name of the venue 'Carvel Ice Cream' is 'Food'.

As, our aim is to segment the neighborhoods of NYC with respect to the Food in its vicinity. We need to proceed further to fetch this data from all the 306 neighborhoods' venues.

###### Let's create a function to repeat the following process to all the neighborhoods in NYC:

Loop through neighborhoods
    -  Create the API request URL with radius=500, LIMIT=100
    - Make the GET request
    - For each neighborhood, return only relevant information for each nearby venue
Append all nearby venues to a list
Unfold the list & append it to dataframe being returned
The categoryId parameter in the API request URL can be a comma seperated string. So, lets create a comma seperated string from category_dict.

In [ ]:
categoryId_list = []
for key, value in category_dict.items():
    categoryId_list.append(key)
categoryId = ','.join(categoryId_list)

The above process turns out to be redundant because if a top-level category is specified in the GET Request, all sub-categories will also match the query. But it is an interesting way to retrieve all the sub-categories ID with name.

In [27]:
def getNearbyFood(names, latitudes, longitudes, radius=1000, LIMIT=500):
    not_found = 0
    print('***Start ', end='')
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(' .', end='')
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&categoryId={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius,
            "4d4b7105d754a06374d81259", # "Food" category id
            LIMIT)
            
        try:
            # make the GET request
            results = requests.get(url).json()['response']['venues']
            
            # return only relevant information for each nearby venue
            venues_list.append([(
                name, 
                lat, 
                lng, 
                v['name'], 
                v['location']['lat'], 
                v['location']['lng'],  
                v['categories'][0]['name']) for v in results])
        except:
            not_found += 1


    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    print("\nDone*** with {} venues with incompelete information.".format(not_found))
    return(nearby_venues)

Let's use pickle library to serialize the information retrieved from GET requests. This step will counter any redundant requests to the Foursquare API.

In [28]:
import pickle # to serialize and deserialize a Python object structure
try:
    with open('nyc_food_venues.pkl', 'rb') as f:
        nyc_venues = pickle.load(f)
    print("---Dataframe Existed and Deserialized---")
except:
    nyc_venues = getNearbyFood(names=neighborhoods['Neighborhood'],
                                        latitudes=neighborhoods['Latitude'],
                                        longitudes=neighborhoods['Longitude']
                                       )
    with open('nyc_food_venues.pkl', 'wb') as f:
        pickle.dump(nyc_venues, f)
    print("---Dataframe Created and Serialized---")

***Start  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
Done*** with 0 venues with incompelete information.
---Dataframe Created and Serialized---

Let's check the size of the resulting dataframe

In [29]:
print(nyc_venues.shape)
nyc_venues.head()

(13766, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Wakefield,40.894705,-73.847201,Dunkin',40.890459,-73.849089,Donut Shop
1,Wakefield,40.894705,-73.847201,Carvel Ice Cream,40.890487,-73.848568,Ice Cream Shop
2,Wakefield,40.894705,-73.847201,Cooler Runnings Jamaican Restaurant Inc,40.898083,-73.850259,Caribbean Restaurant
3,Wakefield,40.894705,-73.847201,Ming's Wok Chinese Restaurant,40.893542,-73.858689,Chinese Restaurant
4,Wakefield,40.894705,-73.847201,Burger King,40.895540,-73.856460,Fast Food Restaurant

Let's find out how many unique categories can be curated from all the returned venues

In [30]:
print('There are {} uniques categories.'.format(len(nyc_venues['Venue Category'].unique())))
nyc_venues.groupby('Venue Category')['Venue Category'].count().sort_values(ascending=False)

There are 193 uniques categories.

Venue Category
Deli / Bodega                               1313
Pizza Place                                 1161
Coffee Shop                                  846
Chinese Restaurant                           645
Fast Food Restaurant                         639
Bakery                                       599
Donut Shop                                   599
Italian Restaurant                           476
Bagel Shop                                   404
Caribbean Restaurant                         374
Fried Chicken Joint                          347
Mexican Restaurant                           339
Café                                         324
Sandwich Place                               320
American Restaurant                          318
Ice Cream Shop                               296
Diner                                        249
Food                                         239
Restaurant                                   220
Burger Joint                                 195
Food Truck                                   194
Sushi Restaurant                             170
Asian Restaurant                             147
Spanish Restaurant                           146
Seafood Restaurant                           144
Japanese Restaurant                          131
Latin American Restaurant                    125
Indian Restaurant                            113
Thai Restaurant                              111
Juice Bar                                    109
Bubble Tea Shop                              104
BBQ Joint                                    102
Dessert Shop                                  94
Taco Place                                    91
Grocery Store                                 85
Breakfast Spot                                81
Bar                                           76
Korean Restaurant                             72
Southern / Soul Food Restaurant               64
Salad Place                                   59
New American Restaurant                       59
Food Court                                    58
Middle Eastern Restaurant                     57
Greek Restaurant                              55
Steakhouse                                    52
Vegetarian / Vegan Restaurant                 49
Mediterranean Restaurant                      48
Vietnamese Restaurant                         44
French Restaurant                             39
Wings Joint                                   37
Peruvian Restaurant                           31
Halal Restaurant                              31
Gourmet Shop                                  30
Tapas Restaurant                              29
Turkish Restaurant                            29
South American Restaurant                     29
African Restaurant                            29
Filipino Restaurant                           28
Cocktail Bar                                  28
Gastropub                                     28
Cuban Restaurant                              26
Hot Dog Joint                                 26
Fish & Chips Shop                             23
Frozen Yogurt Shop                            23
Ramen Restaurant                              22
Convenience Store                             22
Snack Place                                   20
Tea Room                                      19
Dumpling Restaurant                           19
Dim Sum Restaurant                            18
Eastern European Restaurant                   18
Empanada Restaurant                           18
Pub                                           16
Comfort Food Restaurant                       16
Wine Bar                                      16
Cupcake Shop                                  15
Kosher Restaurant                             15
Burrito Place                                 15
Pie Shop                                      14
Sri Lankan Restaurant                         14
Falafel Restaurant                            13
Food & Drink Shop                             12
Cafeteria                                     12
Arepa Restaurant                              12
Cantonese Restaurant                          11
Lounge                                        11
Noodle House                                  11
Malay Restaurant                              11
German Restaurant                             11
Irish Pub                                     11
Bistro                                        10
Buffet                                        10
Soup Place                                     9
Sports Bar                                     9
Beer Garden                                    9
Supermarket                                    9
Shanghai Restaurant                            9
Tex-Mex Restaurant                             9
Russian Restaurant                             8
Colombian Restaurant                           8
Pet Café                                       8
Fish Market                                    7
Taiwanese Restaurant                           7
Poke Place                                     7
Afghan Restaurant                              7
Food Stand                                     7
Health Food Store                              7
Belgian Restaurant                             6
Modern European Restaurant                     6
Pakistani Restaurant                           6
Argentinian Restaurant                         6
Gym / Fitness Center                           6
Butcher                                        6
Israeli Restaurant                             6
Australian Restaurant                          6
Farmers Market                                 6
Smoothie Shop                                  5
Laundry Service                                5
Polish Restaurant                              5
Mac & Cheese Joint                             5
Brazilian Restaurant                           5
Himalayan Restaurant                           5
Furniture / Home Store                         5
Residential Building (Apartment / Condo)       4
Portuguese Restaurant                          4
Gluten-free Restaurant                         4
Other Nightlife                                4
Cajun / Creole Restaurant                      4
Market                                         4
Arcade                                         4
Event Space                                    4
Venezuelan Restaurant                          4
Candy Store                                    3
Hookah Bar                                     3
Tibetan Restaurant                             3
Theme Restaurant                               3
Szechuan Restaurant                            3
Moving Target                                  3
Shabu-Shabu Restaurant                         3
Gas Station                                    3
Salvadoran Restaurant                          3
Yemeni Restaurant                              2
Beach Bar                                      2
Caucasian Restaurant                           2
Record Shop                                    2
Moroccan Restaurant                            2
Miscellaneous Shop                             2
Beer Bar                                       2
Paella Restaurant                              2
Ethiopian Restaurant                           2
North Indian Restaurant                        2
Indonesian Restaurant                          2
Clothing Store                                 2
Indie Movie Theater                            2
Skating Rink                                   2
Street Food Gathering                          2
Art Gallery                                    2
Indian Chinese Restaurant                      2
Hawaiian Restaurant                            2
Government Building                            2
Hotpot Restaurant                              2
Bookstore                                      2
Souvlaki Shop                                  1
Beach                                          1
Austrian Restaurant                            1
Persian Restaurant                             1
Scandinavian Restaurant                        1
Beer Store                                     1
Varenyky restaurant                            1
Park                                           1
Bike Shop                                      1
English Restaurant                             1
Bowling Alley                                  1
Hotel                                          1
Dosa Place                                     1
Factory                                        1
Dive Bar                                       1
Flea Market                                    1
Flower Shop                                    1
Fruit & Vegetable Store                        1
Creperie                                       1
Hobby Shop                                     1
College Cafeteria                              1
Organic Grocery                                1
Island                                         1
Jewish Restaurant                              1
Kebab Restaurant                               1
Kofte Place                                    1
Lebanese Restaurant                            1
Modern Greek Restaurant                        1
Building                                       1
Nightclub                                      1
Motorcycle Shop                                1
Name: Venue Category, dtype: int64

In [63]:
nyc_venues.groupby('Venue Category')['Venue Category'].count().sort_values(ascending=False)

Venue Category
Pizza Place                        1161
Chinese Restaurant                  645
Fast Food Restaurant                639
Italian Restaurant                  476
Caribbean Restaurant                374
Fried Chicken Joint                 347
Mexican Restaurant                  339
American Restaurant                 318
Sushi Restaurant                    170
Asian Restaurant                    147
Spanish Restaurant                  146
Seafood Restaurant                  144
Japanese Restaurant                 131
Latin American Restaurant           125
Indian Restaurant                   113
Thai Restaurant                     111
BBQ Joint                           102
Taco Place                           91
Korean Restaurant                    72
Southern / Soul Food Restaurant      64
New American Restaurant              59
Middle Eastern Restaurant            57
Greek Restaurant                     55
Steakhouse                           52
Vegetarian / Vegan Restaurant        49
Mediterranean Restaurant             48
Vietnamese Restaurant                44
French Restaurant                    39
Peruvian Restaurant                  31
Halal Restaurant                     31
Turkish Restaurant                   29
South American Restaurant            29
Tapas Restaurant                     29
African Restaurant                   29
Filipino Restaurant                  28
Cuban Restaurant                     26
Ramen Restaurant                     22
Dumpling Restaurant                  19
Empanada Restaurant                  18
Eastern European Restaurant          18
Dim Sum Restaurant                   18
Kosher Restaurant                    15
Burrito Place                        15
Sri Lankan Restaurant                14
Falafel Restaurant                   13
Arepa Restaurant                     12
Malay Restaurant                     11
Cantonese Restaurant                 11
Noodle House                         11
German Restaurant                    11
Tex-Mex Restaurant                    9
Shanghai Restaurant                   9
Russian Restaurant                    8
Colombian Restaurant                  8
Afghan Restaurant                     7
Taiwanese Restaurant                  7
Israeli Restaurant                    6
Modern European Restaurant            6
Argentinian Restaurant                6
Australian Restaurant                 6
Belgian Restaurant                    6
Pakistani Restaurant                  6
Brazilian Restaurant                  5
Polish Restaurant                     5
Himalayan Restaurant                  5
Portuguese Restaurant                 4
Venezuelan Restaurant                 4
Cajun / Creole Restaurant             4
Tibetan Restaurant                    3
Szechuan Restaurant                   3
Shabu-Shabu Restaurant                3
Salvadoran Restaurant                 3
Caucasian Restaurant                  2
Indonesian Restaurant                 2
Indian Chinese Restaurant             2
Record Shop                           2
Yemeni Restaurant                     2
North Indian Restaurant               2
Hawaiian Restaurant                   2
Paella Restaurant                     2
Moroccan Restaurant                   2
Ethiopian Restaurant                  2
Island                                1
Kebab Restaurant                      1
Varenyky restaurant                   1
Modern Greek Restaurant               1
Jewish Restaurant                     1
Motorcycle Shop                       1
Austrian Restaurant                   1
Hobby Shop                            1
Beer Store                            1
Dosa Place                            1
Bike Shop                             1
Souvlaki Shop                         1
English Restaurant                    1
Scandinavian Restaurant               1
Lebanese Restaurant                   1
Persian Restaurant                    1
Kofte Place                           1
Name: Venue Category, dtype: int64

As we are interested in exploring the diversity of the neighborhood. Let's remove the generalized categories, like Coffee Shop, Cafe, etc.

In [31]:
# list all the categories
unique_categories = nyc_venues['Venue Category'].unique().tolist()
print(', '.join(str(x) for x in unique_categories))

Donut Shop, Ice Cream Shop, Caribbean Restaurant, Chinese Restaurant, Fast Food Restaurant, Bakery, Latin American Restaurant, Diner, Thai Restaurant, Deli / Bodega, Fried Chicken Joint, Pizza Place, Southern / Soul Food Restaurant, Coffee Shop, Food, American Restaurant, Food Truck, Bagel Shop, Mexican Restaurant, Seafood Restaurant, Italian Restaurant, BBQ Joint, Restaurant, Sandwich Place, Dumpling Restaurant, Spanish Restaurant, Grocery Store, Juice Bar, Wings Joint, Asian Restaurant, Burger Joint, Breakfast Spot, Buffet, Café, Sushi Restaurant, Tapas Restaurant, Bar, Frozen Yogurt Shop, Steakhouse, Japanese Restaurant, German Restaurant, Cuban Restaurant, Mediterranean Restaurant, Lounge, Pub, Indian Restaurant, Fish & Chips Shop, Taco Place, Cafeteria, Empanada Restaurant, Salvadoran Restaurant, Vegetarian / Vegan Restaurant, Other Nightlife, Soup Place, Arcade, Food Court, New American Restaurant, Dessert Shop, Modern European Restaurant, French Restaurant, Convenience Store, Supermarket, African Restaurant, Middle Eastern Restaurant, Greek Restaurant, Paella Restaurant, Salad Place, Sports Bar, Peruvian Restaurant, Hookah Bar, Cupcake Shop, Arepa Restaurant, Food & Drink Shop, Gas Station, South American Restaurant, Turkish Restaurant, Portuguese Restaurant, Vietnamese Restaurant, Indian Chinese Restaurant, Comfort Food Restaurant, Eastern European Restaurant, Building, Korean Restaurant, Bubble Tea Shop, Tea Room, Lebanese Restaurant, Yemeni Restaurant, Irish Pub, Poke Place, Dim Sum Restaurant, Ramen Restaurant, Shabu-Shabu Restaurant, Cantonese Restaurant, Creperie, Malay Restaurant, Szechuan Restaurant, Kofte Place, Polish Restaurant, Fish Market, Cocktail Bar, Clothing Store, Beer Garden, Caucasian Restaurant, Russian Restaurant, Varenyky restaurant, Bistro, Kosher Restaurant, Burrito Place, Israeli Restaurant, Moving Target, Wine Bar, Theme Restaurant, Austrian Restaurant, Beer Store, Gourmet Shop, Pie Shop, Gastropub, Motorcycle Shop, Argentinian Restaurant, Bike Shop, Ethiopian Restaurant, Indie Movie Theater, Brazilian Restaurant, Filipino Restaurant, Belgian Restaurant, Butcher, Record Shop, Fruit & Vegetable Store, Factory, Street Food Gathering, Dive Bar, Venezuelan Restaurant, Mac & Cheese Joint, Hot Dog Joint, Moroccan Restaurant, Tex-Mex Restaurant, Snack Place, Food Stand, Candy Store, Event Space, Noodle House, Halal Restaurant, Falafel Restaurant, Pet Café, Skating Rink, Miscellaneous Shop, Taiwanese Restaurant, Beer Bar, Bookstore, Australian Restaurant, Furniture / Home Store, Health Food Store, Hobby Shop, Flea Market, Flower Shop, English Restaurant, Himalayan Restaurant, Tibetan Restaurant, Nightclub, Cajun / Creole Restaurant, Farmers Market, Colombian Restaurant, Indonesian Restaurant, Shanghai Restaurant, Afghan Restaurant, Hotpot Restaurant, Market, North Indian Restaurant, Gym / Fitness Center, Island, Modern Greek Restaurant, Gluten-free Restaurant, Hawaiian Restaurant, Persian Restaurant, Smoothie Shop, Beach Bar, Beach, Dosa Place, Art Gallery, Kebab Restaurant, Sri Lankan Restaurant, Residential Building (Apartment / Condo), Laundry Service, Pakistani Restaurant, Government Building, Bowling Alley, Souvlaki Shop, College Cafeteria, Hotel, Scandinavian Restaurant, Organic Grocery, Jewish Restaurant, Park

In [32]:
# manually create a list of generalized categories
general_categories = ['Dessert Shop','Food','Ice Cream Shop','Donut Shop','Bakery','Sandwich Place','Comfort Food Restaurant',
                    'Deli / Bodega','Food Truck','Bagel Shop','Burger Joint','Restaurant','Frozen Yogurt Shop','Coffee Shop',
                    'Diner','Wings Joint','Café','Juice Bar','Breakfast Spot','Grocery Store','Bar','Cupcake Shop',
                    'Pub','Fish & Chips Shop','Cafeteria','Other Nightlife','Arcade','Hot Dog Joint','Food Court',
                    'Health Food Store','Convenience Store','Food & Drink Shop','Cocktail Bar','Cheese Shop',
                    'Snack Place','Sports Bar','Lounge','Theme Restaurant','Buffet','Bubble Tea Shop','Building',
                    'Irish Pub','College Cafeteria','Tea Room','Supermarket','Hotpot Restaurant','Gastropub','Beer Garden',
                    'Fish Market','Beer Bar','Clothing Store','Music Venue','Bistro','Salad Place','Wine Bar','Gourmet Shop',
                    'Indie Movie Theater','Art Gallery','Gift Shop','Pie Shop','Fruit & Vegetable Store',
                    'Street Food Gathering','Dive Bar','Factory','Farmers Market','Mac & Cheese Joint','Creperie',
                    'Candy Store','Event Space','Skating Rink','Miscellaneous Shop','Gas Station','Organic Grocery',
                    'Pastry Shop','Club House','Flea Market','Hotel','Furniture / Home Store','Bookstore','Pet Café',
                    'Gym / Fitness Center','Flower Shop','Financial or Legal Service','Hotel Bar','Hookah Bar','Poke Place',
                    'Market','Gluten-free Restaurant','Smoothie Shop','Butcher','Food Stand','Beach Bar','Beach',
                    'Soup Place','Rock Club','Residential Building (Apartment / Condo)','Laundry Service',
                    'Government Building','Bowling Alley','Nightclub','Park','Moving Target']

In [33]:
# fetch all the required food categories
food_categories =  list(set(unique_categories) - set(general_categories))
print(', '.join(str(x) for x in food_categories))

Halal Restaurant, Bike Shop, Venezuelan Restaurant, Record Shop, Vegetarian / Vegan Restaurant, Himalayan Restaurant, Persian Restaurant, German Restaurant, Israeli Restaurant, Pakistani Restaurant, Indonesian Restaurant, Mediterranean Restaurant, Ethiopian Restaurant, BBQ Joint, Cajun / Creole Restaurant, Moroccan Restaurant, Latin American Restaurant, Salvadoran Restaurant, Japanese Restaurant, Filipino Restaurant, Thai Restaurant, Hobby Shop, Kofte Place, Scandinavian Restaurant, Portuguese Restaurant, Shanghai Restaurant, Indian Chinese Restaurant, Tibetan Restaurant, Cuban Restaurant, Polish Restaurant, Taiwanese Restaurant, African Restaurant, Kebab Restaurant, Belgian Restaurant, Modern Greek Restaurant, Island, Vietnamese Restaurant, Austrian Restaurant, Colombian Restaurant, Modern European Restaurant, English Restaurant, Australian Restaurant, Beer Store, Peruvian Restaurant, Taco Place, Indian Restaurant, American Restaurant, Caribbean Restaurant, Burrito Place, Jewish Restaurant, Middle Eastern Restaurant, Brazilian Restaurant, Falafel Restaurant, Fast Food Restaurant, Turkish Restaurant, Spanish Restaurant, Sushi Restaurant, Dosa Place, Souvlaki Shop, Pizza Place, Varenyky restaurant, North Indian Restaurant, Fried Chicken Joint, Motorcycle Shop, Cantonese Restaurant, Tex-Mex Restaurant, Arepa Restaurant, Ramen Restaurant, Italian Restaurant, Argentinian Restaurant, Afghan Restaurant, Paella Restaurant, Malay Restaurant, French Restaurant, Yemeni Restaurant, Sri Lankan Restaurant, Caucasian Restaurant, Russian Restaurant, Mexican Restaurant, Kosher Restaurant, Steakhouse, New American Restaurant, Southern / Soul Food Restaurant, Greek Restaurant, Lebanese Restaurant, Szechuan Restaurant, Dim Sum Restaurant, Dumpling Restaurant, South American Restaurant, Chinese Restaurant, Noodle House, Empanada Restaurant, Hawaiian Restaurant, Korean Restaurant, Seafood Restaurant, Shabu-Shabu Restaurant, Eastern European Restaurant, Asian Restaurant, Tapas Restaurant

Let's remove all the generalized categories, like Coffee Shop, Cafe, etc.

In [34]:
nyc_venues = nyc_venues[nyc_venues['Venue Category'].isin(food_categories)].reset_index()
nyc_venues.head(5)

,index,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,2,Wakefield,40.894705,-73.847201,Cooler Runnings Jamaican Restaurant Inc,40.898083,-73.850259,Caribbean Restaurant
1,3,Wakefield,40.894705,-73.847201,Ming's Wok Chinese Restaurant,40.893542,-73.858689,Chinese Restaurant
2,4,Wakefield,40.894705,-73.847201,Burger King,40.895540,-73.856460,Fast Food Restaurant
3,7,Wakefield,40.894705,-73.847201,McDonald's,40.892779,-73.857473,Fast Food Restaurant
4,9,Wakefield,40.894705,-73.847201,El Castillo del Caribe,40.892949,-73.855575,Latin American Restaurant

In [35]:
print('There are {} unique FOOD categories.'.format(len(nyc_venues['Venue Category'].unique())))

There are 99 unique FOOD categories.

Let's find out how many unique venues can be curated from all the returned venues

In [36]:
print('There are {} uniques venues.'.format(len(nyc_venues['Venue'].unique())))

There are 3190 uniques venues.

In [37]:
# one hot encoding
nyc_onehot = pd.get_dummies(nyc_venues[['Venue Category']], prefix="", prefix_sep="")
nyc_onehot.head()

,Afghan Restaurant,African Restaurant,American Restaurant,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,Australian Restaurant,Austrian Restaurant,BBQ Joint,Beer Store,Belgian Restaurant,Bike Shop,Brazilian Restaurant,Burrito Place,Cajun / Creole Restaurant,Cantonese Restaurant,Caribbean Restaurant,Caucasian Restaurant,Chinese Restaurant,Colombian Restaurant,Cuban Restaurant,Dim Sum Restaurant,Dosa Place,Dumpling Restaurant,Eastern European Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant,Falafel Restaurant,Fast Food Restaurant,Filipino Restaurant,French Restaurant,Fried Chicken Joint,German Restaurant,Greek Restaurant,Halal Restaurant,Hawaiian Restaurant,Himalayan Restaurant,Hobby Shop,Indian Chinese Restaurant,Indian Restaurant,Indonesian Restaurant,Island,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Kebab Restaurant,Kofte Place,Korean Restaurant,Kosher Restaurant,Latin American Restaurant,Lebanese Restaurant,Malay Restaurant,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,Modern European Restaurant,Modern Greek Restaurant,Moroccan Restaurant,Motorcycle Shop,New American Restaurant,Noodle House,North Indian Restaurant,Paella Restaurant,Pakistani Restaurant,Persian Restaurant,Peruvian Restaurant,Pizza Place,Polish Restaurant,Portuguese Restaurant,Ramen Restaurant,Record Shop,Russian Restaurant,Salvadoran Restaurant,Scandinavian Restaurant,Seafood Restaurant,Shabu-Shabu Restaurant,Shanghai Restaurant,South American Restaurant,Southern / Soul Food Restaurant,Souvlaki Shop,Spanish Restaurant,Sri Lankan Restaurant,Steakhouse,Sushi Restaurant,Szechuan Restaurant,Taco Place,Taiwanese Restaurant,Tapas Restaurant,Tex-Mex Restaurant,Thai Restaurant,Tibetan Restaurant,Turkish Restaurant,Varenyky restaurant,Vegetarian / Vegan Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,Yemeni Restaurant
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [38]:
# add neighborhood column back to dataframe
nyc_onehot['Neighborhood'] = nyc_venues['Neighborhood'] 
nyc_onehot.head()

,Afghan Restaurant,African Restaurant,American Restaurant,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,Australian Restaurant,Austrian Restaurant,BBQ Joint,Beer Store,Belgian Restaurant,Bike Shop,Brazilian Restaurant,Burrito Place,Cajun / Creole Restaurant,Cantonese Restaurant,Caribbean Restaurant,Caucasian Restaurant,Chinese Restaurant,Colombian Restaurant,Cuban Restaurant,Dim Sum Restaurant,Dosa Place,Dumpling Restaurant,Eastern European Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant,Falafel Restaurant,Fast Food Restaurant,Filipino Restaurant,French Restaurant,Fried Chicken Joint,German Restaurant,Greek Restaurant,Halal Restaurant,Hawaiian Restaurant,Himalayan Restaurant,Hobby Shop,Indian Chinese Restaurant,Indian Restaurant,Indonesian Restaurant,Island,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Kebab Restaurant,Kofte Place,Korean Restaurant,Kosher Restaurant,Latin American Restaurant,Lebanese Restaurant,Malay Restaurant,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,Modern European Restaurant,Modern Greek Restaurant,Moroccan Restaurant,Motorcycle Shop,New American Restaurant,Noodle House,North Indian Restaurant,Paella Restaurant,Pakistani Restaurant,Persian Restaurant,Peruvian Restaurant,Pizza Place,Polish Restaurant,Portuguese Restaurant,Ramen Restaurant,Record Shop,Russian Restaurant,Salvadoran Restaurant,Scandinavian Restaurant,Seafood Restaurant,Shabu-Shabu Restaurant,Shanghai Restaurant,South American Restaurant,Southern / Soul Food Restaurant,Souvlaki Shop,Spanish Restaurant,Sri Lankan Restaurant,Steakhouse,Sushi Restaurant,Szechuan Restaurant,Taco Place,Taiwanese Restaurant,Tapas Restaurant,Tex-Mex Restaurant,Thai Restaurant,Tibetan Restaurant,Turkish Restaurant,Varenyky restaurant,Vegetarian / Vegan Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,Yemeni Restaurant,Neighborhood
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Wakefield
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Wakefield
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Wakefield
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Wakefield
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Wakefield

In [39]:
# move neighborhood column to the first column
Neighborhood = nyc_onehot['Neighborhood']

nyc_onehot.drop(labels=['Neighborhood'], axis=1,inplace = True)
nyc_onehot.insert(0, 'Neighborhood', Neighborhood)

nyc_onehot.head()

,Neighborhood,Afghan Restaurant,African Restaurant,American Restaurant,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,Australian Restaurant,Austrian Restaurant,BBQ Joint,Beer Store,Belgian Restaurant,Bike Shop,Brazilian Restaurant,Burrito Place,Cajun / Creole Restaurant,Cantonese Restaurant,Caribbean Restaurant,Caucasian Restaurant,Chinese Restaurant,Colombian Restaurant,Cuban Restaurant,Dim Sum Restaurant,Dosa Place,Dumpling Restaurant,Eastern European Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant,Falafel Restaurant,Fast Food Restaurant,Filipino Restaurant,French Restaurant,Fried Chicken Joint,German Restaurant,Greek Restaurant,Halal Restaurant,Hawaiian Restaurant,Himalayan Restaurant,Hobby Shop,Indian Chinese Restaurant,Indian Restaurant,Indonesian Restaurant,Island,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Kebab Restaurant,Kofte Place,Korean Restaurant,Kosher Restaurant,Latin American Restaurant,Lebanese Restaurant,Malay Restaurant,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,Modern European Restaurant,Modern Greek Restaurant,Moroccan Restaurant,Motorcycle Shop,New American Restaurant,Noodle House,North Indian Restaurant,Paella Restaurant,Pakistani Restaurant,Persian Restaurant,Peruvian Restaurant,Pizza Place,Polish Restaurant,Portuguese Restaurant,Ramen Restaurant,Record Shop,Russian Restaurant,Salvadoran Restaurant,Scandinavian Restaurant,Seafood Restaurant,Shabu-Shabu Restaurant,Shanghai Restaurant,South American Restaurant,Southern / Soul Food Restaurant,Souvlaki Shop,Spanish Restaurant,Sri Lankan Restaurant,Steakhouse,Sushi Restaurant,Szechuan Restaurant,Taco Place,Taiwanese Restaurant,Tapas Restaurant,Tex-Mex Restaurant,Thai Restaurant,Tibetan Restaurant,Turkish Restaurant,Varenyky restaurant,Vegetarian / Vegan Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,Yemeni Restaurant
0,Wakefield,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Wakefield,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Wakefield,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Wakefield,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Wakefield,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

And let's examine the new dataframe size.

In [40]:
nyc_onehot.shape

(6718, 100)

Let's count venues of each category in each neighborhood

In [41]:
venue_counts = nyc_onehot.groupby('Neighborhood').sum()
venue_counts.head(5)

,Afghan Restaurant,African Restaurant,American Restaurant,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,Australian Restaurant,Austrian Restaurant,BBQ Joint,Beer Store,Belgian Restaurant,Bike Shop,Brazilian Restaurant,Burrito Place,Cajun / Creole Restaurant,Cantonese Restaurant,Caribbean Restaurant,Caucasian Restaurant,Chinese Restaurant,Colombian Restaurant,Cuban Restaurant,Dim Sum Restaurant,Dosa Place,Dumpling Restaurant,Eastern European Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant,Falafel Restaurant,Fast Food Restaurant,Filipino Restaurant,French Restaurant,Fried Chicken Joint,German Restaurant,Greek Restaurant,Halal Restaurant,Hawaiian Restaurant,Himalayan Restaurant,Hobby Shop,Indian Chinese Restaurant,Indian Restaurant,Indonesian Restaurant,Island,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Kebab Restaurant,Kofte Place,Korean Restaurant,Kosher Restaurant,Latin American Restaurant,Lebanese Restaurant,Malay Restaurant,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,Modern European Restaurant,Modern Greek Restaurant,Moroccan Restaurant,Motorcycle Shop,New American Restaurant,Noodle House,North Indian Restaurant,Paella Restaurant,Pakistani Restaurant,Persian Restaurant,Peruvian Restaurant,Pizza Place,Polish Restaurant,Portuguese Restaurant,Ramen Restaurant,Record Shop,Russian Restaurant,Salvadoran Restaurant,Scandinavian Restaurant,Seafood Restaurant,Shabu-Shabu Restaurant,Shanghai Restaurant,South American Restaurant,Southern / Soul Food Restaurant,Souvlaki Shop,Spanish Restaurant,Sri Lankan Restaurant,Steakhouse,Sushi Restaurant,Szechuan Restaurant,Taco Place,Taiwanese Restaurant,Tapas Restaurant,Tex-Mex Restaurant,Thai Restaurant,Tibetan Restaurant,Turkish Restaurant,Varenyky restaurant,Vegetarian / Vegan Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,Yemeni Restaurant
Neighborhood,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Allerton,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,3,0,0,0,0,0,0,0,0,0,0,4,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Annadale,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0
Arden Heights,0,0,3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0
Arlington,0,0,2,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,1,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Arrochar,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,1,0,0,0,0,0,1,0,0,1,0,2,0,0,0,0,0,0,0,0,0,0,0,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

Let's find out the top 10 food categories in NYC

In [42]:
venue_counts_described = venue_counts.describe().transpose()

In [43]:
venue_top10 = venue_counts_described.sort_values('max', ascending=False)[0:10]
venue_top10

                      count      mean       std  min  25%  50%  75%   max
Korean Restaurant     302.0  0.238411  1.352780  0.0  0.0  0.0  0.0  20.0
Caribbean Restaurant  302.0  1.238411  2.680578  0.0  0.0  0.0  1.0  16.0
Chinese Restaurant    302.0  2.135762  1.971081  0.0  1.0  2.0  3.0  15.0
Pizza Place           302.0  3.844371  2.139399  0.0  2.0  4.0  5.0  12.0
Indian Restaurant     302.0  0.374172  1.097745  0.0  0.0  0.0  0.0  12.0
Italian Restaurant    302.0  1.576159  1.815171  0.0  0.0  1.0  2.0  12.0
Fast Food Restaurant  302.0  2.115894  1.895040  0.0  1.0  2.0  3.0  10.0
Seafood Restaurant    302.0  0.476821  0.884225  0.0  0.0  0.0  1.0   8.0
Sushi Restaurant      302.0  0.562914  0.944128  0.0  0.0  0.0  1.0   6.0
Asian Restaurant      302.0  0.486755  0.861597  0.0  0.0  0.0  1.0   6.0

In [44]:
venue_top10_list = venue_top10.index.values.tolist()

Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category

In [46]:
nyc_grouped = nyc_onehot.groupby('Neighborhood').mean().reset_index()
nyc_grouped.head()

,Neighborhood,Afghan Restaurant,African Restaurant,American Restaurant,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,Australian Restaurant,Austrian Restaurant,BBQ Joint,Beer Store,Belgian Restaurant,Bike Shop,Brazilian Restaurant,Burrito Place,Cajun / Creole Restaurant,Cantonese Restaurant,Caribbean Restaurant,Caucasian Restaurant,Chinese Restaurant,Colombian Restaurant,Cuban Restaurant,Dim Sum Restaurant,Dosa Place,Dumpling Restaurant,Eastern European Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant,Falafel Restaurant,Fast Food Restaurant,Filipino Restaurant,French Restaurant,Fried Chicken Joint,German Restaurant,Greek Restaurant,Halal Restaurant,Hawaiian Restaurant,Himalayan Restaurant,Hobby Shop,Indian Chinese Restaurant,Indian Restaurant,Indonesian Restaurant,Island,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Jewish Restaurant,Kebab Restaurant,Kofte Place,Korean Restaurant,Kosher Restaurant,Latin American Restaurant,Lebanese Restaurant,Malay Restaurant,Mediterranean Restaurant,Mexican Restaurant,Middle Eastern Restaurant,Modern European Restaurant,Modern Greek Restaurant,Moroccan Restaurant,Motorcycle Shop,New American Restaurant,Noodle House,North Indian Restaurant,Paella Restaurant,Pakistani Restaurant,Persian Restaurant,Peruvian Restaurant,Pizza Place,Polish Restaurant,Portuguese Restaurant,Ramen Restaurant,Record Shop,Russian Restaurant,Salvadoran Restaurant,Scandinavian Restaurant,Seafood Restaurant,Shabu-Shabu Restaurant,Shanghai Restaurant,South American Restaurant,Southern / Soul Food Restaurant,Souvlaki Shop,Spanish Restaurant,Sri Lankan Restaurant,Steakhouse,Sushi Restaurant,Szechuan Restaurant,Taco Place,Taiwanese Restaurant,Tapas Restaurant,Tex-Mex Restaurant,Thai Restaurant,Tibetan Restaurant,Turkish Restaurant,Varenyky restaurant,Vegetarian / Vegan Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,Yemeni Restaurant
0,Allerton,0.0,0.0,0.058824,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.117647,0.0,0.176471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.235294,0.0,0.0,0.117647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.235294,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.058824,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,Annadale,0.0,0.0,0.166667,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.055556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.166667,0.055556,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.055556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.333333,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.166667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,Arden Heights,0.0,0.0,0.157895,0.0,0.0,0.000000,0.0,0.0,0.052632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.105263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.157895,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.105263,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.315789,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.105263,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,Arlington,0.0,0.0,0.111111,0.0,0.0,0.055556,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.055556,0.0,0.055556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.111111,0.0,0.0,0.055556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.055556,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.111111,0.222222,0.055556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.111111,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,Arrochar,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.222222,0.055556,0.0,0.0,0.0,0.0,0.0,0.055556,0.0,0.0,0.055556,0.000000,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.277778,0.055556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.055556,0.0,0.0,0.0

Let's confirm the new size

In [47]:
nyc_grouped.shape

(302, 100)

Let's write a function to sort the venues in descending order.

In [48]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

Now let's create the new dataframe and display the top 5 venues for each neighborhood.

In [49]:
num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

In [50]:
# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = nyc_grouped['Neighborhood']

In [51]:
for ind in np.arange(nyc_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(nyc_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,Allerton,Pizza Place,Fast Food Restaurant,Chinese Restaurant,Caribbean Restaurant,Fried Chicken Joint
1,Annadale,Pizza Place,Sushi Restaurant,American Restaurant,Italian Restaurant,Japanese Restaurant
2,Arden Heights,Pizza Place,American Restaurant,Italian Restaurant,Sushi Restaurant,Mexican Restaurant
3,Arlington,Pizza Place,Spanish Restaurant,Peruvian Restaurant,American Restaurant,Fast Food Restaurant
4,Arrochar,Pizza Place,Italian Restaurant,Chinese Restaurant,Middle Eastern Restaurant,Mediterranean Restaurant

List the top 40 to see where African Restaurants fit in

In [61]:
venue_top40 = venue_counts_described.sort_values('max', ascending=False)[0:40]
venue_top40

,count,mean,std,min,25%,50%,75%,max
Korean Restaurant,302.0,0.238411,1.352780,0.0,0.0,0.0,0.0,20.0
Caribbean Restaurant,302.0,1.238411,2.680578,0.0,0.0,0.0,1.0,16.0
Chinese Restaurant,302.0,2.135762,1.971081,0.0,1.0,2.0,3.0,15.0
Pizza Place,302.0,3.844371,2.139399,0.0,2.0,4.0,5.0,12.0
Indian Restaurant,302.0,0.374172,1.097745,0.0,0.0,0.0,0.0,12.0
Italian Restaurant,302.0,1.576159,1.815171,0.0,0.0,1.0,2.0,12.0
Fast Food Restaurant,302.0,2.115894,1.895040,0.0,1.0,2.0,3.0,10.0
Seafood Restaurant,302.0,0.476821,0.884225,0.0,0.0,0.0,1.0,8.0
Sushi Restaurant,302.0,0.562914,0.944128,0.0,0.0,0.0,1.0,6.0
Asian Restaurant,302.0,0.486755,0.861597,0.0,0.0,0.0,1.0,6.0
Spanish Restaurant,302.0,0.483444,0.895573,0.0,0.0,0.0,1.0,6.0
Fried Chicken Joint,302.0,1.149007,1.393262,0.0,0.0,1.0,2.0,6.0
Thai Restaurant,302.0,0.367550,0.819614,0.0,0.0,0.0,0.0,6.0
Latin American Restaurant,302.0,0.413907,0.809539,0.0,0.0,0.0,1.0,5.0
Mexican Restaurant,302.0,1.122517,1.162062,0.0,0.0,1.0,2.0,5.0
Eastern European Restaurant,302.0,0.059603,0.377644,0.0,0.0,0.0,0.0,5.0
American Restaurant,302.0,1.052980,1.048892,0.0,0.0,1.0,2.0,5.0
Southern / Soul Food Restaurant,302.0,0.211921,0.566029,0.0,0.0,0.0,0.0,4.0
Vietnamese Restaurant,302.0,0.145695,0.459631,0.0,0.0,0.0,0.0,4.0
Filipino Restaurant,302.0,0.092715,0.388386,0.0,0.0,0.0,0.0,3.0
New American Restaurant,302.0,0.195364,0.513840,0.0,0.0,0.0,0.0,3.0
Greek Restaurant,302.0,0.182119,0.499114,0.0,0.0,0.0,0.0,3.0
Japanese Restaurant,302.0,0.433775,0.715689,0.0,0.0,0.0,1.0,3.0
Turkish Restaurant,302.0,0.096026,0.383268,0.0,0.0,0.0,0.0,3.0
Vegetarian / Vegan Restaurant,302.0,0.162252,0.435355,0.0,0.0,0.0,0.0,3.0
South American Restaurant,302.0,0.096026,0.365521,0.0,0.0,0.0,0.0,3.0
Sri Lankan Restaurant,302.0,0.046358,0.290211,0.0,0.0,0.0,0.0,3.0
BBQ Joint,302.0,0.337748,0.569285,0.0,0.0,0.0,1.0,3.0
Russian Restaurant,302.0,0.026490,0.197897,0.0,0.0,0.0,0.0,2.0
Middle Eastern Restaurant,302.0,0.188742,0.489904,0.0,0.0,0.0,0.0,2.0
Mediterranean Restaurant,302.0,0.158940,0.432757,0.0,0.0,0.0,0.0,2.0
Malay Restaurant,302.0,0.036424,0.220233,0.0,0.0,0.0,0.0,2.0
Steakhouse,302.0,0.172185,0.419802,0.0,0.0,0.0,0.0,2.0
Taco Place,302.0,0.301325,0.551589,0.0,0.0,0.0,1.0,2.0
Kosher Restaurant,302.0,0.049669,0.259407,0.0,0.0,0.0,0.0,2.0
Tapas Restaurant,302.0,0.096026,0.327150,0.0,0.0,0.0,0.0,2.0
African Restaurant,302.0,0.096026,0.316832,0.0,0.0,0.0,0.0,2.0
Peruvian Restaurant,302.0,0.102649,0.314742,0.0,0.0,0.0,0.0,2.0
Afghan Restaurant,302.0,0.023179,0.171351,0.0,0.0,0.0,0.0,2.0
Cantonese Restaurant,302.0,0.036424,0.220233,0.0,0.0,0.0,0.0,2.0

###### Conclusion

Based on the analysis performed and exploratory data analysis, there are only 29 African restaurants in New York and there does not seem to be sufficient interest in this type of food to warrant further analysis and time investment!

Due to hte limited occurrence of African Restaurants, it will not be visualised either.